.btn {
    margin-right: 5px;
}

/* para deixar a tarefa com um traço no meio ao ser marcada como true */
.markedAsDone {
    text-decoration: line-through;
    color: #777;
}
.tableActions  {
    width: 105px;
}

.todoForm {
    padding-bottom: 60px;
}